body{
    border: 10px groove rgba(75, 24, 24, 0.445);
}
#logo{
    width: 120px;
}
header{
    margin: auto;
    padding: 0;
    font-size: 25px;
    display: flex;
    font-weight: bold;
    justify-content: space-evenly;

}
nav ul li{
    list-style-type: none;
    display: flex;
    float: left;
    margin: 0 10px;
}
.hrefuge{
    text-align: center;
    font-family: Verdana, sans-serif;
    color: red ;

}
form div + div{
    margin-top: 1rem;
}
label{
    display: inline-block;
    width: 100px;
    text-align: center;
}
input{
    width: 200px;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px 1px brown;
    border-color: burlywood;
    height: 35px;
}
.aide{
    text-align: center;
    fo

}
.help{
    text-align: center;
}

.vignetteAction img{
    width: 100%;
    height: auto;
}
.vignetteAction{
    display: flex;
    justify-content: space-between;
}
.vignetteAction>div{
    width: 30vw;

}
.cons{
    text-align: center;
    font-size: 20px;
}
footer{
    border: thick double #ceb732;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
}
footer ul{
    display: flex;
    flex-direction: row;
    text-indent: 5rem;

}
